/*.content {*/
/*  grid-area: h;*/
/*  background-color: #99e69f;*/
/*}*/

.items {
  color: #0050ff;
}

.items img {
  width: 3%;
}

.ButtonBlock {
  padding: 5px;
}

.items .a {
  color: #0050ff;
  padding: 5px;
}
