.nav {
  grid-area: n;
  background-color: blueviolet;
  padding: 20px;
}

.nav a {
  display: block;
}


.items {
  color: white;
  text-decoration: none;
}

.active {
  color: gold;
  text-decoration: none;
}
