.Dialogs {
    grid-area: с;
    background-color: #99e69f;
    border:1px solid midnightblue;
}

/*.dialogsItems {
    padding: 10px;
    background-color: #99e69f;
    border:1px solid midnightblue;
}*/


.messages {
    padding: 10px;
   /* border:1px solid black;*/
    border-left: 1px solid midnightblue;
/*    border-right: 1px solid midnightblue;
    border-top: 1px solid midnightblue;
    border-bottom: 1px solid midnightblue;*/
}

a {
    text-decoration: none;
}


